body {
    background: linear-gradient(to right, rgb(128, 129, 136), rgb(72, 172, 155));
    padding: 50px;
    font-family: 'Libre Baskerville', serif;
    color: grey;
    -webkit-text-stroke: 1px rgb(26, 26, 26);
    font-size: 35px;
}
.flags {
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
    justify-content: center;
}
.france {
    display: flex;
    height: 180px;
    width: 300px;
    position: relative;
}.france .blue {
    width: 33.3%;
    background-color: #002395;
}.france .white {
    width: 33.3%;
    background-color: #FFF;
}.france .red {
    width: 33.3%;
    background-color: #ED2939;
}
.france p {
    position: absolute;
    visibility: hidden;
}
.france:hover :not(p){
    filter: blur(8px);
}
.france:hover p {
    visibility: visible;
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.germany {
    display: flex;
    height: 180px;
    width: 300px;
    flex-direction: column;
    position: relative;
}
.germany .black {
    height: 33.3%;
    background-color: #000;
}
.germany .red {
    height: 33.3%;
    background-color: #DD0000;
}
.germany .yellow {
    height: 33.3%;
    background-color: #FFCC00;
}
.germany p {
    position: absolute;
    visibility: hidden;
}
.germany:hover :not(p){
    filter: blur(8px);
}
.germany:hover p {
    visibility: visible;
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.england {
    display: flex;
    height: 180px;
    width: 300px;
    background-color: #CE1124;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-between;
    position: relative;
}
.england .square1 {
    background-color: #FFF;
    height: 42%;
    width: 42%;
}
.england .square2 {
    background-color: #FFF;
    height: 42%;
    width: 42%;    
} 
.england .square3 {
    background-color: #FFF;
    height: 42%;
    width: 42%;   
} 
.england .square4 {
    background-color: #FFF;
    height: 42%;
    width: 42%;
}  
.england p {
    position: absolute;
    visibility: hidden;
}
.england:hover :not(p){
    filter: blur(8px);
}
.england:hover p {
    visibility: visible;
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.japan {
    display: flex;
    height: 180px;
    width: 300px;
    background-color: #FFF;
    justify-content: center;
    align-items: center;
    position: relative;
}
.japan .circle {
    height: 125px;
    width: 125px;
    background-color: #BC002D;
    border-radius: 50%;

}
.japan p {
    position: absolute;
    visibility: hidden;
}
.japan:hover :not(p){
    filter: blur(8px);
}
.japan:hover p {
    visibility: visible;
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.mexico {
    display: flex;
    height: 180px;
    width: 300px;
    position: relative;
}
.mexico .green {
    width: 33.3%;
    background-color: #006341;
}
.mexico .white {
    display: flex;
    width: 33.3%;
    background-color: #FFF;
    justify-content: center;
    align-items: center;
}
.mexico .red {
    width: 33.3%;
    background-color: #C8102E;
}

.mexico .white img {
    height: 70px;    
}
.mexico p {
    position: absolute;
    visibility: hidden;
}
.mexico:hover :not(p){
    filter: blur(8px);
}
.mexico:hover p {
    visibility: visible;
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
}


